
body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-mode {
  background-color: #121212 !important;
  color: white !important;
}

.light-mode {
  background-color: white !important;
  color: black !important;
}

.min-vh-100 {
  min-height: 100vh;
}
